{% extends "basic_layout.html" %}
{% block content %}
<div class="content-section">
    {% include "header.html" %}
    <p>Demographics:</p>
    <table class="table list">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Series</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for d in demographics %}
            <tr>
                <td><a href="/series/filter/demographic:{{d.demo}}">{{d.demo}}</a></td>
                <td>{{d.desc}}</td>
                <td>{{d.series_count}}</td>
                <td>
                    <form action="/edit" method="post">
                        <input type="hidden" value="Demographics" name="table">
                        <input type="hidden" value="{{d.demo}}" name="demo">
                        <input type="hidden" value="{{d.desc}}" name="desc">
                        <input type="submit" value="Edit">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Add demographic:</p>
    <table class="table list">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
          <form action="/demographics/add" method="post">
            <tr>
                <td><input type="text" name="demographic" value="" class="wide"></td>
                <td><input type="text" name="description" value="" class="wide"></td>
                <td><input type="submit" value="Add demographic"></td>
            </tr>
        </form>
        </tbody>
    </table>
</div>
{% endblock content %}