{% extends "basic_layout.html" %}
{% block content %}
<div class="content-section">
    {% include "header.html" %}
    <p>Genres:</p>
    <table class="table list">
        <thead>
            <tr>
                <th scope="col">Genre</th>
                <th scope="col">Series</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for g in genres %}
            <tr>
                <td><a href="/series/filter/genre:{{g.genre}}">{{g.genre}}</a></td>
                <td>{{g.series_count}}</td>
                <td>
                    <form action="/edit" method="post">
                        <input type="hidden" value="Genres" name="table">
                        <input type="hidden" value="{{g.genre}}" name="data">
                        <input type="submit" value="Edit">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Add genre:</p>
    <table class="table formula">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
          <form action="/genres/add" method="post">
            <tr>
                <td><input type="text" name="genre_name" value="" class="wide"></td>
                <td><input type="submit" value="Add genre"></td>
            </tr>
        </form>
        </tbody>
    </table>
</div>
{% endblock content %}