<input type="button" value="Series" onclick="window.location.href='/series'">
<input type="button" value="Volumes" onclick="window.location.href='/volumes'">
<input type="button" value="Authors" onclick="window.location.href='/authors'">
<input type="button" value="Genres" onclick="window.location.href='/genres'">
<input type="button" value="Languages" onclick="window.location.href='/languages'">
<input type="button" value="Demographics" onclick="window.location.href='/demographics'">
<input type="button" value="Publishers" onclick="window.location.href='/publishers'">
<br><br>
<form action="/search" method="post">
    <input type="text" value="" name="search">
    <input type="submit" value="Search series">
</form>